body {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0;
    padding: 4px;
}

#yodaImage{
    margin: 0 70px -8px 0;
    align-self: flex-end;
}

#gameoverInput input{
    margin: 0 30px 0 20px;
    height: 40px;
    width: 260px;
    font-size: 1.6em;
}

@media only screen and (max-width: 700px){
    #yodaImage{
        margin: 0 auto;
    }
    #gameoverList{
        flex-wrap: wrap;
    }
    #answersDetails{
       width: -webkit-fill-available;
    }
    #gameoverInput{
        flex-wrap: wrap-reverse;
    }
    #gameoverInput input{
        margin: 20px 0;
        width: 100%;
    }
}

