@import url(./reset.css);
@import url(./logoImgSettingsSection.css);
@import url(./gameAreaSection.css);
/*
////////////////////////////////////////////////
GENERAL
////////////////////////////////////////////////
*/
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../static/assets/ui/QuizBackground.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 3rem;
    margin: auto auto;
}

.button {
    display: block;
    height: 8rem;
    border-radius: 2rem;
    font-size: 3rem;
    /* color: #000; */
    font-weight: 600;
}

.hoverCursor:hover{
    cursor: pointer;
}

.gameModeButton:hover{
    position:relative;
    color:#000;
}

.gameModeButton:hover::before{
    content:'';
    position:absolute;
    bottom:-2px;
    left:0;
    width:100%;
    height:5px;
    background:red;
    box-shadow:0 0 25px 5px  red;
}
/*
////////////////////////////////////////////////
MAIN
////////////////////////////////////////////////
*/
main{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
/*
////////////////////////////////////////////////
FOOTER
////////////////////////////////////////////////
*/
footer {
    color: #fff;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

footer p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-self: center;
    text-align: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .logo {
        width: 25rem;
        height: 14rem;
    }

    .img {
        height: 34.375rem;
        width: 25rem;
    }

    .button {
        font-size: 2rem;
        font-weight: 600;
    }

    .changeGameMode {
        margin-bottom: 6rem;
    }

    .gameModeButton{
        font-size: 3rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
        width: 25rem;
        height: 14rem;
    }

    .img {
        height: 34.375rem;
        width: 25rem;
    }

    .button {
        font-size: 2rem;
        font-weight: 600;
    }

    .changeGameMode {
        padding: 2rem;
        margin-bottom: 4rem;
    }

    .gameModeButton{
        font-size: 2rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    body {
        padding: 0.5rem;
    }

    .logo {
        --width: 45rem;
        width: var(--width);
        height: calc(var(--width) * 0.56);
    }

    .img {
        order:3;
        position: absolute;
        top: 54rem;
        --width: 25rem;
        width: var(--width);
        height: calc(var(--width) * 1.495);
    }

    .changeGameMode {
        margin-bottom: 42rem;
        padding: 2rem;
    }

    .gameArea {
        width: 100%;
    }

    .button {
        font-size: 2.2rem;
        font-weight: 600;
    }
}

@media only screen and (max-width: 575px) {
    body {
        padding: 0.5rem;
    }

    .img {
        order:3;
        position: absolute;
        top: 62rem;
        --width: 25rem;
        width: var(--width);
        height: calc(var(--width) * 1.495);
    }

    .changeGameMode {
        flex-direction: column;
        margin-bottom: 42rem;
        padding: 2rem;
    }

    .gameArea {
        width: 100%;
    }

    .logo {
        --width: 30rem;
        width: var(--width);
        height: calc(var(--width) * 0.56);
    }

    .gameModeButton:hover::before{
        left:25%;
        width:50%;
    }

    .button {
        font-size: 2.2rem;
        font-weight: 600;
    }
}