/*
////////////////////////////
GAME AREA
///////////////////////////
*/

.gameArea {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem 0;
}

/* Change Game Mode */

.changeGameMode {
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    margin-bottom: 10rem;
}

.gameModeButton{
    background-color: rgba(0,0,0,0);
    border: none;
}

.buttonInactive {
    color: #e6e6e6;
}

.buttonActive {
    color: #000;
}

.gameModeButton:hover{
    position:relative;
    color:#000;
}

.gameModeButton:hover::before{
    content:'';
    position:absolute;
    bottom:-2px;
    left:0;
    width:100%;
    height:5px;
    background:red;
    box-shadow:0 0 25px 5px  red;
}

/* Current Game Mode */
.currentGameMode {
    padding: 5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

/* Current Game Mode Description */

.currentGameModeDescription {
    text-align: center;
    min-height: 30rem;

}

.currentGameModeDescription * {
    margin: 2rem auto; 
}

.currentGameModeDescription h3 {
    font-size: 4rem;
    font-weight: 600;
}

.currentGameModeDescription p {
    padding: 1rem 4rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}


/* Action buttons */

.actionButtons {
    display: flex;
    justify-content: center;
}

.actionButtons .button{
    width: 45%;
    margin: 1rem 2rem;
    text-align: center;
}

.playButton {
    color:#fff;
    background-color: #f00;
}