.redButton {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 8rem;
    border-radius: 2rem;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    background-color: red;
    box-shadow: 0 0 2rem 0.5rem red;
    flex-basis: 45%;
}
.redButton:hover {
    cursor: pointer;
    background-color: rgb(224, 14, 14);
    
}